#view-contacts {
    padding: 0 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    color: var(--lightest);
}

#view-contacts-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#contact-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#contacts-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    > button {
        color: var(--dark);
    }
}
